* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}
.main {
    background: rgb(3, 39, 68);
    border: 1px solid black;
}

.header {
    padding: 1rem;
}
.header-container {
    background: rgb(207, 207, 207);
    border-radius: 2px;
    padding: 3rem;
    justify-content: center;
}
.header-container h1{
    text-align: center;
    font-size: 1.5rem;
    color: rgb(59, 59, 59);
    letter-spacing: 0.2rem;
}
.header-container p {
    text-align: center;
    font-size: 1.1rem;
    color: rgb(73, 73, 73);
    letter-spacing: 0.27rem;
}
.second-bar-container {
    background: rgb(3, 39, 68);
    border-radius: 2px;
    border: 0.1px solid rgb(1, 31, 58);
    justify-content: center;
}
.second-bar {
    padding: 1em;
}
.second-bar-container h1 {
    text-align: center;
    font-size: 1rem;
    color: rgb(207, 201, 201);
}
.second-bar-container p {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: rgb(216, 203, 22);
}
/* .second-bar-container s {
    color: white;
} */

.third-slide {
    padding: 5rem;
    margin-top: -10rem;
}
.third-slide-container {
    background: rgb(11, 61, 102);
    border-radius: 2px;
    height: 5rem;
    gap: 1rem;
    border: 0.1px solid rgb(1, 31, 58);
    padding: 2rem;
    font-size: 1px;
    /* margin-top: 1rem; */
    display: flex;
    justify-content:space-between;
    justify-content: center;
}

.me .third-slide-container p {
    font-size: 0.7rem;
}
.me .third-slide-container img {
    width: 3rem;
}
.button {
    text-align: center;
    background: rgb(21, 138, 21);
    color: white;
}
.button p{
    font-size: 13px;
}
.third-slide-container p{
    font-size: 1rem;
}
.phone-slide-container {
    background: rgb(11, 61, 102);
    border-radius: 2px;
    width: 91.69%;
    margin-top: -5rem;
    margin-left: 5rem;
    height: 5rem;
    gap: 1rem;
    border: 0.1px solid rgb(1, 31, 58);
    padding: 2rem;
    /* margin-top: 1rem; */
    display: flex;
    justify-content:space-between;
    justify-content: center;
}
.phone-slide-container img {
    color: white;
    width: 3rem;
    height: 3rem;
    margin-top: -14px;
}
.phone-slide-container p {
    color: white;
    letter-spacing: 2px;
    font-size: 1.05rem;
}

.name-slide-container {
    background: rgb(3, 39, 68);
    border-radius: 2px;
    height: 5rem;
    margin-left: 5rem;
    width: 91.67%;
    gap: 1rem;
    padding: 2rem;
    /* margin-top: 1rem; */
    display: flex;
    justify-content:space-between;
    justify-content: center;
}
.name-slide-container img {
    color: white;
    width: 3rem;
    height: 3rem;
    margin-top: -14px;
}

.name-slide-container p {
    color: white;
    letter-spacing: 2px;
    font-size: 1.25rem;
}
.third-slide-container p {
    color: white;
    letter-spacing: 2px;
    font-size: 1.25rem;
}
.third-slide-container img {
    color: white;
    width: 3rem;
    height: 3rem;
    margin-top: -14px;
}

.fourth-slide {
    padding: 5rem;
    margin-top: -10rem;
}
.fourth-slide-container {
    background: rgb(3, 39, 68);
    border-radius: 2px;
    height: 5rem;
    gap: 1rem;
    padding: 2rem;
    /* margin-top: 1rem; */
    display: flex;
    justify-content:space-between;
    justify-content: center;
}
.fourth-slide-container p{
    color: white;
    letter-spacing: 2px;
    font-size: 1.25rem; 
}
.fourth-slide-container img {
    color: white;
    width: 3rem;
    height: 3rem;
    margin-top: -14px;
}


button {
    background: rgb(20, 131, 221);
    border-radius: 2px;
    height: 5rem;
    width: 100%;
    gap: 1rem;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 1.25rem;
    padding: auto;
    /* margin-top: 1rem; */
    display: flex;
    justify-content:space-between;
    justify-content: center;
}
button a {
    margin-top: 1.5rem;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 600px) {
    .box {
        display: block;
        width: 100%;
    }
    .input {
        width: 100%;
    }
    p {
        font-size: 1rem;
    }
}